<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>掲示板</title>
  </head>
  <body>
    <form
      action=""
      th:action="@{/postArticle}"
      th:object="${articleForm}"
      method="post"
    >
      <!-- 入力を保存する場合 -->
      <div th:if="${errorArticleId == null}">
        <div th:errors="*{name}" style="color: red"></div>
        投稿者名：
        <input type="text" name="name" th:field="*{name}" id="" /><br>

        <div th:errors="*{content}" style="color: red"></div>
        投稿内容:
        <textarea name="content" th:field="*{content}" id=""></textarea><br />
        <br />
        <button type="submit">記事投稿</button>
      </div>

      <!-- 入力を保存しない場合 -->
      <div th:if="${errorArticleId != null}">
        投稿者名：<input type="text" name="name" id="" /><br />

        投稿内容:
        <textarea name="content" id=""></textarea><br />
        <button type="submit">記事投稿</button>
      </div>
    </form>

    <!-- 記事を表示する -->
    <div th:if="${0 < articleList.size}" th:each="article : ${articleList}">
      <hr />
      <hr />
      <p th:text="投稿者名：+ ${article.name}"></p>
      <p th:text="投稿内容：+ ${article.content}"></p>

      <form action=""></form>
      <a th:href="@{/article(articleId=${article.id})}">この記事に飛ぶ</a>

      <!-- 記事を削除するボタン -->
      <form th:action="@{/deleteArticle}" method="post">
        <input type="hidden" name="articleId" th:value="${article.id}" />
        <button type="submit">記事削除</button>
      </form>

      <!-- コメントを表示する -->
      <div
        th:if="${0 < article.commentList.size}"
        th:each=" comment : ${article.commentList}"
      >
        <p th:text="コメント者名： + ${comment.name}"></p>
        <p th:text="コメント内容：+ ${comment.content}"></p>
        <hr />
      </div>

      <!-- コメントを投稿するボタン -->
      <form
        action=""
        th:action="@{/postComment}"
        th:object="${commentForm}"
        method="post"
      >
        <!-- エラーメッセージなどを表示するフォーム -->
        <div th:if="${article.id == errorArticleId}">
          <div
            th:if="${article.id == errorArticleId}"
            th:errors="*{name}"
            style="color: red"
          ></div>
          コメント者名：<input
            type="text"
            name="name"
            th:field="*{name}"
            id=""
          /><br />

          <div
            th:if="${article.id == errorArticleId}"
            th:errors="*{content}"
            style="color: red"
          ></div>
          コメント内容:

          <textarea name="content" th:field="*{content}" id=""></textarea><br />
          <input type="hidden" name="articleId" th:value="${article.id}" />
          <button type="submit">コメント投稿</button>
        </div>

        <!-- エラーメッセージなどを表示しないフォーム -->
        <div th:if="${article.id != errorArticleId}">
          コメント者名：<input type="text" name="name" id="" /><br />

          コメント内容:
          <textarea name="content" id=""></textarea><br />
          <input type="hidden" name="articleId" th:value="${article.id}" />
          <button type="submit">コメント投稿</button>
        </div>
      </form>
    </div>
  </body>
</html>
